html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  background-color: #192023;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.container {
  max-width: 1600px;
  padding-left: 58px;
  padding-right: 48px;
}

.header {
  display: block;
  background-image: url(../images/header-backg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0 10px;
}

.logo {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-transform: capitalize;
  color: #fff;
}

.logo-sec {
  color: coral;
}

.header-nav {
  display: flex;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 0 22px;
  margin-right: 42px;
}

.header-item {
  font-weight: 400;
  font-size: 10px;
  line-height: 187%;
  color: #d4d4d4;
}

.header-item:hover {
  color: #5aba4a;
  transform: scale(1.1);
  transition: transform 0.25s;
}

.header-link {
  text-align: right;
}

.vertical-line {
  background-color: #d4d4d4;
  width: 1px;
  height: 19px;
  margin-top: 5px;
  margin-right: 15px;
  margin-left: 27px;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 0 17px;
  margin-right: 116px;
}

.user-actions-item-first {
  font-weight: 400;
  font-size: 10px;
  line-height: 187%;
  color: #d4d4d4;
}

.user-actions-item-sec {
  border: 0.68px solid #5aba4a;
  border-radius: 3px;
  width: 74px;
  height: 28px;
}

.user-actions-item-first:hover,
.user-actions-item-sec:hover {
  color: #5aba4a;
  transform: scale(1.1);
  transition: transform 0.25s;
}

.user-actions-link {
  font-weight: 500;
  font-size: 12px;
  color: #5aba4a;
  padding: 5px 14px;
}

.main-section {
  background-image: url(../images/main-backg.png);
  background-repeat: no-repeat;

  background-size: cover;
}

.main-inner {
  min-height: 857px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-title {
  max-width: 350px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
  font-size: 51px;
  line-height: 126%;
  color: #fff;
  margin-bottom: 14px;
}

.main-text {
  max-width: 358px;
  font-weight: 400;
  font-size: 10px;
  color: #d4d4d4;
  margin-bottom: 27px;
}

.main-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 167%;
  color: #fff;
  border-radius: 2px;
  width: 122px;
  height: 38px;
  background: #5aba4a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-btn:hover {
  background: #ff6726;
  transform: scale(1.1);
  transition: transform 0.25s;
}

.container--text-vertical {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-text-vertical {
  writing-mode: vertical-lr;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -95%);
  font-weight: 900;
  font-size: 119px;
  line-height: 124%;
  color: rgba(57, 62, 67, 0.42);
  margin: 0;
}

.info {
  padding: 19px 0 88px;
}

.info-list {
  display: flex;
  justify-content: right;
  gap: 0 43px;
  margin-right: 80px;
}

.info-item:first-child {
  width: 53px;
}

.info-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 83%;
  color: #fff;
  margin-bottom: 9px;
}

.info-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 119%;
  color: #e7e0e0;
}

.partners {
  margin-bottom: 85px;
}

.partners-list {
  display: flex;
  justify-content: center;
  gap: 0 44px;
}

.program {
  margin-bottom: 102px;
}

.program-title-img {
  display: flex;
  justify-content: center;
  gap: 88px;
  margin-bottom: 41px;
}

.program-title {
  max-width: 346px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}
.program-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.program-item {
  flex-basis: 197px;
  min-height: 253px;
  border-radius: 2px;
  background: #030712;
}

.program-item:hover {
  background: #ff6726;
  transform: scale(1.1);
  transition: transform 0.25s;
}

.program-img {
  margin-top: 26px;
  margin-left: 26px;
  margin-bottom: 16px;
}

.program-item-title {
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: #f2f2f2;
  margin-bottom: 9px;
  margin-left: 26px;
}

.program-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 163%;
  color: #d4d4d4;
  margin-bottom: 39px;
  margin-left: 26px;
  max-width: 144px;
}

.program-link {
  font-weight: 500;
  font-size: 13px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #5aba4a;
  margin-bottom: 31px;
  margin-left: 26px;
}

.program-link:hover {
  color: #fff;
}

.join {
  padding: 101px 0;
}

.join-inner {
  display: flex;
  justify-content: center;
}

.join-info {
  max-width: 308px;
}

.join-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 129%;
  color: #fff;
  margin-bottom: 13px;
}

.join-text {
  max-width: 308px;
  font-weight: 400;
  font-size: 10px;
  line-height: 160%;
  text-transform: capitalize;
  color: #e7e0e0;
  margin-bottom: 34px;
}

.join-list {
  padding: 0;
  margin: 0;
  gap: 14px;
}

.join-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.join-item-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  color: #fff;
  margin-left: 6px;
}

.join-info-img {
  max-width: 50%;
}

.join-inner-img {
  border-radius: 2px;
  background: #030712;
  gap: 10px;
  padding: 28px 47px;
}

.join-img {
  border-radius: 4px;
  object-fit: cover;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.join-last {
  float: right;
  width: calc(50% - 5px);
}

.plan {
  padding-bottom: 102px;
}

.plan-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 129%;
  color: #fff;
  text-align: center;
  margin-bottom: 14px;
}

.plan-articl {
  max-width: 415px;
  font-weight: 400;
  font-size: 10px;
  line-height: 160%;
  text-align: center;
  color: #e7e0e0;
  margin: 0 auto 41px;
}

.plan-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.plan-info-list-first {
  max-width: 420px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #030712;
  border: 1px solid #000;
  border-radius: 2px;
  transition: transform 0.25s ease;
}

.plan-info-list-sec {
  max-width: 420px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #ff6726;
  border-radius: 2px;
  transition: transform 0.25s ease;
}

.plan-info-list-third {
  max-width: 420px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #030712;
  border-radius: 2px;
  transition: transform 0.25s ease;
}

.plan-info-list-first:hover,
.plan-info-list-sec:hover,
.plan-info-list-third:hover {
  transform: scale(1.1);
}

.plan-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 108%;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 36px;
  margin-left: 48px;
}

.plan-num {
  font-weight: 700;
  font-size: 28px;
  line-height: 62%;
  color: #fff;
  margin-bottom: 20px;
  margin-left: 48px;
}

.plan-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.plan-info-item:nth-child(6) {
  margin-bottom: 55px;
}

.plan-info-item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 47px;
}

.plan-info-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 144%;
  color: #fff;
  margin-right: 96px;
}

.plan-item-link {
  border: 0.68px solid #52a745;
  border-radius: 2px;
  width: 176px;
  height: 35px;
  margin: 0 auto 31px;
}

.plan-item-link:hover {
  background: #fff;
}

.plan-item-link-sec {
  border: 0.68px solid #fff;
  background: #fff;
  border-radius: 2px;
  width: 176px;
  height: 35px;
  margin: 0 auto 31px;
}

.plan-item-link-sec:hover {
  border: 0.68px solid #52a745;
  background: #52a745;
}

.plan-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 144%;
  text-align: center;
  color: #5aba4a;
  /* padding: 9px 60px; */
  padding-top: 4px;
  padding-right: 60px;
  padding-bottom: 9px;
  padding-left: 60px;
}

.plan-link-sec:hover {
  color: #fff;
}

.about {
  padding: 102px 0 40px;
}

.about-inner {
  display: flex;
  justify-content: center;
  gap: 91px;
}

.about-title {
  max-width: 398px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  color: #fff;
}

.about-text {
  max-width: 373px;
  font-weight: 400;
  font-size: 10px;
  line-height: 163%;
  color: #e7e0e0;
}

.testimonial {
  border-radius: 2px;
  box-shadow: 8px 8px 41px 0 rgba(23, 23, 23, 0.25);
  background: #030712;
  margin-bottom: 132px;
}

.testimonial-item {
  display: flex;
  overflow: hidden;
  gap: 108px;
}

.testimonial-image {
  display: block;
  padding-left: 208px;
}

.testimonial-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

.testimonial-text {
  max-width: 357px;
}

.quote-icon {
  position: absolute;
  transform: translate(-106%, -44%);
}

.quote-icon img {
  width: 76px;
  height: auto;
}

.testimonial-text h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 117%;
  color: #fff;
  margin: 70px 0 3px;
}

.member {
  font-weight: 400;
  font-size: 10px;
  line-height: 175%;
  color: #d4d4d4;
  margin-bottom: 13px;
}

.raiting {
  display: flex;
  gap: 7px;
  margin-bottom: 13px;
}

.testimonial-description {
  font-weight: 400;
  font-size: 10px;
  line-height: 175%;
  color: #d4d4d4;
  margin-bottom: 13px;
}

.testimonial-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 43px;
  margin-bottom: 40px;
}

.nav-button {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #5aba4a;
}

.nav-button:hover {
  transform: scale(1.1);
  transition: transform 0.25s;
}

.prev {
  width: 36px;
  height: 36px;
  background: transparent;
}

.next {
  width: 40px;
  height: 40px;
  background-color: #5aba4a;
}

.subscribe {
  margin-bottom: 45px;
  background: #030712;
  padding-top: 67px;
  padding-bottom: 49px;
}

.subscribe-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 129%;
  color: #fff;
  text-align: center;
  margin-bottom: 13px;
}

.subscribe-text {
  max-width: 374px;
  font-weight: 400;
  font-size: 10px;
  line-height: 163%;
  text-align: center;
  color: #d4d4d4;
  margin: 0 auto 30px;
}

.subscribe-icon {
  display: flex;
  justify-content: flex-end;
  transform: translate(-18%, -143%);
  margin-bottom: -95px;
}

.subscribe-icon img {
  width: 102px;
  height: auto;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  flex-basis: 366px;
}

.subscribe-email {
  border: 0.68px solid #9dad9a;
  border-radius: 2px;
  width: 266px;
  background-color: transparent;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 187%;
  color: #878585;
  margin-right: 7px;
}

.subscribe-btn {
  border: 0.68px solid #5aba4a;
  background: transparent;
  border-radius: 2px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  color: #edeef1;
  padding: 8px 15px;
}

.footer {
  padding-bottom: 43px;
}

.footer-inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 90px;
}

.blockquote-item {
  max-width: 173px;
  margin-bottom: 17px;
}

.blockquote-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #e7e0e0;
}

.footer-social-list {
  display: flex;
  align-items: center;
  gap: 13px;
}

.footer-social-link {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  margin-bottom: 13px;
}

.footer-servis-item,
.footer-pricing-item,
.footer-company-item,
.footer-support-item {
  margin-bottom: 6px;
}

.footer-servis-link,
.footer-pricing-link,
.footer-company-link,
.footer-support-link {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #e7e0e0;
}
